body{
    background-color: #F9FEFF;
    margin: 0;
}

.header{
    height: 100px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 1%;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.firstpage{
    display: flex;
    flex-direction: column;
}
.logo1{
    height: 80px;
    width: auto;
    padding-right: 160px;
    padding-left: 50px;
}
.home, .pricing, .support, .contact{
    font-family: 'Nunito', sans-serif;
    padding: 40px 27px 20px 27px;
    font-size: 1rem;
    font-weight: 700;
    height: 20px;
    
}
.home:hover, .pricing:hover, .support:hover, .contact:hover{
    text-decoration: underline #2370e3;
    transition: 0.2s linear;
}
.burger{
    display: none;
}

.signin{
    height: 40px;
    width: auto;
    font-family: 'Nunito', sans-serif;
    padding: 10px 20px;
    font-size: 0.9rem;
    border-radius: 10px;
    margin-right: 25px;
    color: #3285FF;
    margin-top: 30px;
    border:none;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    margin-left:130px ;
    background-color: #F9FEFF;
}
.signin:hover{
    text-decoration: underline #3285FF;
    cursor: pointer;
    transition: 0.2s linear;
}

 .signup{
    height: 50px;
    width: auto;
    font-family: 'Nunito', sans-serif;
    margin-top: 20px;
    transition: 0.2s linear;
    padding: 0px 25px;
    font-weight: bolder;
    font-size: 0.8rem;
    border-radius: 40px;
    color: #F9FEFF;
    background-color: #3285FF;
    border:none;
    justify-content: center;
    align-items: center;
    
 }
 .signup:hover{
    color: #3285FF;
    background-color: #F9FEFF;
    transition: 0.2s linear;
    border-radius: 40px;
    border: 1px solid #3285FF;
    cursor: pointer;
}
 .mainscreen{
    display: flex;
    flex-direction: row;
    margin: 0px;
 }
 .main{
    padding-top: 70px;
    padding-left: 90px;
    font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 80px;
    font-size: 3.8rem;
    color: #000;
    
 }

 .subtext1{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 90px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.05rem;
    width: 400px;
    color: rgba(0, 0, 0, 0.434);
    margin: 0;

 }
 .buttons{
    display: flex;
    flex-direction: row;
 }
 .free
{
    font-family: 'Nunito', sans-serif;
    padding: 20px;
    width: 180px;
    height:70px;
    transition: 0.2s linear;
    font-size: 1rem;
    border-radius: 50px;
    color: #F9FEFF;
    background-color: #3285FF;
    border:none;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
    margin-right: 20px;
}
.free:hover{
    color: #3285FF;
    background-color: #F9FEFF;
    transition: 0.2s linear;
    border-radius: 40px;
    border: 1px solid #3285FF;
    cursor: pointer;
}
.play{
    fill: #2370e3;
    /* height: 1px;
  width: auto; */
  color: white;
  padding: 5px 10px 0px 5px;
  justify-content: center;
}
.watchtext{
    padding-left: 10px;
}
.watch{
    width: 190px;
    height:70px;
    transition: 0.2s linear;
    border: 1.5px solid #3285FF ;
    font-family: 'Nunito', sans-serif;
    padding: 20px;
    font-size: 1rem;
    border-radius: 50px;
    color: #3285FF;
    background-color: #F9FEFF;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.watch:hover{
    background-color: #3285FF;
    color: #F9FEFF;
    transition: 0.2s linear;
    border-radius: 40px;
    cursor: pointer;
}
.watch:hover .play{
    fill:white;
}
.watchplay
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.girlimage{
    height: 98%;
    width: auto;
}
.secondpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.whitespace{
    padding: 55px;
}
.fiture{
    background-color: #e0e6f1;
    color: #000;
    border: none;
    transition: 0.2s linear;
    border-radius: 20px;
    font-family: 'Nunito', sans-serif;
    height: 30px;
    font-size:0.7rem;
    padding: 5px 10px 5px 10px;
    width: auto;
}

.welcome{
color: #000;
position: relative;
text-align: center;
font-family: 'Nunito', sans-serif;
    height: 30px;
    font-size: 1.9rem;
    font-weight: 700;
    width: auto;
    padding: 10px;
}
.welcomebelow{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.434);
    padding: 20px;
    text-align: center;
    width: 470px;
}
.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.card{
    width: 200px;
    height: 250px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.folder, .inc,.lock,.pie{
    width: 25px;
    height: 25px;
    border-radius: 20px;
    padding: 25px;
}
.folder{
    background-color: #DBFFFF;
}
.inc{
    background-color: #FFF1E8;
}
.lock{
    background-color: #FEFCD4;
}
.pie{
    background-color:#D4E2FD ;
}
.maintext{
    color: #000;
position: relative;
text-align: center;
font-family: 'Nunito', sans-serif;
    height: 20px;
    font-size: 1.1rem;
    font-weight: 700;
    width: auto;
    padding: 10px;

}
.subtext{
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.434);
    padding: 20px;
    text-align: center;
    width: 200px;

}
.secondwhole{
    display: flex;
    flex-direction: row;
}
.secondleft{
    width: 50%;
    height: auto;
}
.bluegirl{
    width: 250px;
    height: auto;
    position: relative;
    left: 80px;
    border-radius: 20px;
    box-shadow:3px 0 5px #00000058;
}
.blueselfie{
    position: relative;
    top: 120px;
    left:20px;
    width: 190px;
    height: auto;
    border-radius: 20px;
    box-shadow:3px 3px 6px #00000058;
}
.yellowgirl{
    width: 100px;
    height: auto;
    position: relative;
    border-radius: 20px;
    right: 20px;
    bottom: 30px;
    box-shadow:3px 3px 5px #00000058;
}

.learnmore{
    width: 150px;
    height:50px;
    border: 1.5px solid #3285FF ;
    transition: 0.2s linear;
    font-family: 'Nunito', sans-serif;
    padding: 0 15px 0 15px;
    font-size: 1rem;
    border-radius: 50px;
    color: #3285FF;
    background-color: #F9FEFF;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-top: 5px;
}
.learnmore:hover{
    background-color: #3285FF;
    color: #F9FEFF;
    transition: 0.2s linear;
    border-radius: 40px;
    cursor: pointer;

}
.thirdpage{
    display: flex;
    flex-direction: row;
}
.right{
    margin-top: 100px;
}
.left{
    height: 80%;

}
.thirdright{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}
.features{
    background-color: #e0e6f1;
    color: #000;
    transition: 0.2s linear;
    border: none;
    border-radius: 20px;
    font-family: 'Nunito', sans-serif;
    height: 30px;
    font-size: 0.8rem;
    margin-left: 20px;
    padding: 5px;
    width: 120px;
}

.workand{
    color: #000;

text-align: left;
font-family: 'Nunito', sans-serif;
    height: 30px;
    font-size: 1.8rem;
    font-weight: 700;
    width: 380px;
    padding: 20px;
    margin-bottom: 50px;
}
.workandbelow{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.434);
    padding: 20px;
    text-align: left;
    width: 440px;
    padding-bottom: 20px;
}

.stores{
    align-items: center;
    display: flex;
    margin-left: 20px;
    width: 450px;
margin-top: 20px;
}

.store1{
    height: 60px;
    width: auto;
    margin-left: 20px;
}

.store2{
    height: 60px;
    width: auto;
}
.store1:hover, .store2:hover{
    cursor: pointer;

}
.mobile{
    
    height: 100%;
    width: auto;
    position: absolute;
    left: 850px;
    z-index: 4;
    justify-content: center;
    align-items: center;
}
.bluec{
    height: 320px;
    width: 320px;
    border-radius: 200px;
    position: relative;
    left: 300px;
    top: 100px;
    z-index: 3;
    background-color: #69BBE6;
}
.lblue{
    height: 250px;
    width: 250px;
    border-radius: 250px;
    position: relative;
    left: 175px;
    bottom: 400px;
    z-index: 1;
    background-color: #8DEDEF;
}
.yellowc{
    height: 150px;
    width: 150px;
    z-index: 2;
    border-radius: 150px;
    position: relative;
    bottom: 40px;
    left: 220px;
    background-color: #FCE601;
}
.customer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.testimonial{
    background-color: #e0e6f1;
    color: #000;
    transition: 0.2s linear;
    border: none;
    border-radius: 20px;
    font-family: 'Nunito', sans-serif;
    height: 30px;
    font-size: 0.7rem;
    padding: 5px 10px 5px 10px;
    width: auto;
}

.customerhead{
    color: #000;
position: relative;
text-align: center;
font-family: 'Nunito', sans-serif;
    height: 30px;
    font-size: 1.8rem;
    font-weight: 700;
    width: auto;
    padding: 10px;
}
.customerbelow{
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.434);
    padding: 20px;
    text-align: center;
    width: 470px;
}
.reviews{
    margin-top: 20px;
    margin-left: 90px;
    display: flex;
    flex-direction: row;
    align-items: left;
}
.review1{
    width: 400px;
    height: 300px;
    padding: 20px;
}
.reviewimg1{
    border-radius: 50px;
    height: 80px;
    width: 80px;
    padding-left: 0;
    object-fit: cover;
}
.actualreview{
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.434);
    padding: 20px;
    text-align: left;
    width: 300px;
    padding-left: 0;
}
.name{
    color: #000;
    position: relative;

    font-family: 'Nunito', sans-serif;
        height: 20px;
        font-size: 1.25rem;
        font-weight: 700;
        width: auto;
        padding: 10px 10px 0 0;
}
.stars{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rating{
    margin: 0;
}
.rtg, .rtg1{
    width: auto;
    height: 25px;
    padding-left: 10px;
}
.place{
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.434);
    padding: 10px;
    width: 200px;
    padding-left: 0;
}
.scroll{
    display: flex;
    justify-content: center;    
}
.img{
    width: 50px;
    height: auto;
    display: flex;
    justify-content: center;
}
.roundrect{
    display: flex;
    margin: 50px 100px;
    width: 80%;
    border-radius: 60px;
    box-shadow: rgba(17, 12, 46, 0.053) 0px 20px 60px 0px;
}
.firsthalf{
    border-radius: 30px;
    width: 200px;
    height: auto;
}
.secondhalf{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:50px ;
    width: 70%;
}

.subscribe{
    background-color: #c6cad2cc;
    color: #000;
    border: none;
    transition: 0.2s linear;
    border-radius: 20px;
    font-family: 'Nunito', sans-serif;
    height: 36px;
    font-size: 0.8rem;
    padding: 5px 10px 5px 10px;
    width: 15%;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}


.endcontent{
    color: #000;
position: relative;
text-align: center;
font-family: 'Nunito', sans-serif;
    height: 100px;
    font-size: 2.2rem;
    font-weight: 700;
    width: 70%;
    padding: 10px;
    margin-bottom: 5%;
}
.colours{
    position: relative;
    width: 300px;
    height: auto;
    border-radius: 60px;
}
.emailadd{
    width: 450px;
    height: 70px;
    border: none;
    border-radius: 30px;
    margin-left: 40px;
    text-align: left;
}
.emailadd:focus{
 outline: none;
}
.address{
    border-radius: 30px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 8%;
}
.subscrib{
    font-family: 'Nunito', sans-serif;
    padding: 15px;
    transition: 0.2s linear;
    width: 160px;
    height:60px;
    font-size: 0.9rem;
    border-radius: 30px;
    color: #F9FEFF;
    background-color: #3285FF;
    border:none;
    align-items: center;
    margin-right: 5%;
}
.subscrib:hover{
    color: #3285FF;
    background-color: #F9FEFF;
    transition: 0.2s linear;
    border-radius: 40px;
    border: 1px solid #3285FF;
    cursor: pointer;
}

.footer{
    height: 60%;
    display: flex;
    margin: 10% 5% 5% 5%;
}
.head{
    color: #000;
position: relative;
text-align: left;
font-family: 'Nunito', sans-serif;
    height: 20px;
    font-size: 1.2rem;
    font-weight: 700;
    width: auto;
    padding-bottom: 10px;
}
.footlogo{
    width: 45%;
    display: flex;
    flex-direction: column;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 1%;
    width: 20%;
}
.details1{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.434);
    padding: 20px;
    padding-left: 0;
    text-align: left;
    width: 70%;
    padding-bottom: 0;

}
.details{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.434);
    padding: 20px;
    padding-left: 0;
    line-height: 30px;
    text-align: left;
    width: 70%;
    padding-bottom: 0;
}
.logo2{
    height: auto;
    width: 60%;
}
.icons{
    display: flex;
    flex-direction: row;
    align-items: left;
}
.icon{
    width: 18%;
    height: auto;
    padding: 6%;
}
.footerend{
    background-color: #2370e3;
    display: flex;
    padding: 15px;
    flex-direction: row;
}   
.copy,.privacy,.tandc{
    color: #FFF1E8;
    font-family: 'Poppins', sans-serif;
    font-size: 0.68rem;
}
.copy{
    padding-right: 600px;
    padding-left: 50px;
}
.privacy{
    padding-right: 40px;
}
.footer:hover{
    cursor: pointer;
}
.details a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.head:hover{
    transition: 0.05s linear;
    transform: scale(1.5);
}